{% extends "base.html" %}

{% block page_title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}

<p><strong>Author:</strong> {{ recipe.author.name }}</p>

<h3>Ingredients:</h3>
<ul>
    {% for ingred in recipe.recipe_ingredients.all %}
        <li>
            {{ ingred.ingredient.name }} : {{ ingred.quantity }}
        </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
        <p><a href="{% url 'add_image' recipe.pk %}">Add Image</a></p>
    {% endif %}

    <h3>Images</h3>
    {% for image in recipe.images.all %}
        <div>
            <img src="{{ image.image.url }}" alt="{{ image.description }}" width="200">
        </div>
    {% empty %}
        <p>No images uploaded yet.</p>
    {% endfor %}

    <p><a href="{% url 'recipe_list' %}">Back to Recipe List</a></p>

{% endblock %}